html{
	background-image: url("pics/back.png");
}

body{
	     width: 70%;
    margin: auto;
    color: black;
    font-family: arial;
    font-size: 19px;
    background-color: lavender;
    padding: 10px;
    margin-top: 4%;

text-align: center;
}

input{
	color: black;
    font-family: arial;
    font-size: 19px;
}

form{
	    text-align: center;
    margin-top: 37px;
}


.deleatePicList{
	width: 100px;
	background-color: yellow;
}

img{
	    max-width: 87%;

}

.recImage{
    width: 117px;
    display: block;
    float: left;
    /* margin: auto; */
    /* text-align: center; */
    margin-left: 65px;
    margin-bottom: 26px;
}

hr{
    clear: both;
}
